#Board-Container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    width: calc(600px * .9);
    height:  calc(75px * .9);
    position: relative;
    display: flex;
    flex-direction: row;
}

.board{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tile{
    width: calc(75px * .9);
    height: calc(75px * .9);
    position: relative;
}
.dot{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.image-container{
    position: relative;
}

.peices{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
